﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Canvas";
}
<style>
    #bucketList div{
        float: left;
        width: 210px;
    }
    
     #bucketList div.mainCover{
        min-height: 180px;
    }
    #bucketList div span{
        text-decoration: underline;
        font-size: large;
    }
    #bucketList div ul li{
        list-style: none;text-indent: -35px;
    }
    #bucketList div ul li div{
        font-size: smaller;
    }
    
        #bucketList div ul li div input{
        width: 105px;
        
    }
</style>
<div id='wrapper'>
            <article>
                <header>
                    <h2>My Canvas (This Page is deprecated go to home page for the newer version)</h2>

                    <form id='add-item'>
                        <div style="float: left"><input type='text' id='new-item-text' placeholder='Enter new observation' /></div> <button type='submit'>Add</button>
                    </form>
                </header>

                <ul id='todo-items'></ul>
                <p id='summary'>Loading...</p>
            </article>

    <!--
            <footer>
                <a href='http://www.windowsazure.com/en-us/develop/mobile/'>
                    Learn more about Windows Azure Mobile Services
                </a>
    -->
                <ul id='errorlog'></ul>
    <div id="bucketList" style="clear: 
 both">
        <h2>My Buckets</h2>
    <div class="mainCover" ondrop="drapDrop(event,'physical')" ondragover="allowDrop(event)"><span>Physical</span><ul id='todo-items-physical'></ul></div>
        <div class="mainCover" ondrop="drapDrop(event,'optional')" ondragover="allowDrop(event)"><span>Optional</span><ul id='todo-items-optional'></ul></div>
        <div class="mainCover" ondrop="drapDrop(event,'table')" ondragover="allowDrop(event)"><span>Table</span><ul id='todo-items-table'></ul></div>
        <div class="mainCover" ondrop="drapDrop(event,'chair')" ondragover="allowDrop(event)"><span>Chair</span><ul id='todo-items-chair'></ul></div>
        <div style="width:auto;min-height: 0px
    ;text-decoration: none;background-color:#fff;padding: 4px;font-size: small;border: 1px solid #808080;cursor: pointer" onclick="alert('Not working for now')">Add a Bucket</div>
        </div>
       <!--</footer>-->     
        </div>

        <script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js'></script>
        <script src='http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js'></script>
        <script src='page.js'></script>

<script>
    var client = new WindowsAzure.MobileServiceClient('https://object.azure-mobile.net/', 'cvnQzPqZEvwdjPOdpCQYlXoSNbSMMz99'),
        todoItemTable = client.getTable('todoitem');
    
    // Read current data and rebuild UI.
    // If you plan to generate complex UIs like this, consider using a JavaScript templating library.
    function refreshTodoItems2() {
        var query = todoItemTable.where({ complete: false });

        query.read().then(function (todoItems) {
            $('#todo-items').empty();
            $('#todo-items-optional').empty();
            $('#todo-items-physical').empty();
            $('#todo-items-table').empty();
            $('#todo-items-chair').empty();
            var listItems = $.map(todoItems, function (item) {
                if (item.type == 'physical') {
                    $('#todo-items-physical').append($('<li>')
                    .attr('data-todoitem-id', item.id).attr('draggable', 'true').attr('ondragstart', "dragStart(event,'" + item.id + "')")

                    .append($('<div>').append($('<input class="item-text">').val(item.text))
                    .append($('<button class="item-throw">Drag</button>'))
                    ));
                } else if (item.type == 'optional') {
                    $('#todo-items-optional').append($('<li>')
                    .attr('data-todoitem-id', item.id).attr('draggable', 'true').attr('ondragstart', "dragStart(event,'" + item.id + "')")

                    .append($('<div>').append($('<input class="item-text">').val(item.text))
                    .append($('<button class="item-throw">Drag</button>'))
                    ));

                } else if (item.type == 'table') {
                    $('#todo-items-table').append($('<li>')
                    .attr('data-todoitem-id', item.id).attr('draggable', 'true').attr('ondragstart', "dragStart(event,'" + item.id + "')")

                    .append($('<div>').append($('<input class="item-text">').val(item.text))
                    .append($('<button class="item-throw">Drag</button>'))
                    ));

                } else if (item.type == 'chair') {
                    $('#todo-items-chair').append($('<li>')
                    .attr('data-todoitem-id', item.id).attr('draggable', 'true').attr('ondragstart', "dragStart(event,'" + item.id + "')")

                    .append($('<div>').append($('<input class="item-text">').val(item.text))
                    .append($('<button class="item-throw">Drag</button>'))
                    ));

                } else {
                    $('#todo-items').append($('<li>')
                    .attr('data-todoitem-id', item.id).attr('draggable', 'true').attr('ondragstart', "dragStart(event,'" + item.id + "')")

                    .append($('<div>').append($('<input class="item-text">').val(item.text))
                     .append($('<button class="item-delete">Delete</button>'))
                    .append($('<button class="item-throw">Drag</button>'))
                    ));
                }

                return $('<li>')
                    .attr('data-todoitem-id', item.id).attr('draggable', 'true').attr('ondragstart', 'dragStart(event)')

                    .append($('<div>').append($('<input class="item-text">').val(item.text))
                     .append($('<button class="item-delete">Del</button>'))
                    .append($('<button class="item-throw">Drag</button>'))
                    );
            });
        });
    }
    var idonthemove;
    function dragStart(ev, id) {
        idonthemove = id;
    }

    function drapDrop(ev, where) {
        todoItemTable.update({ id: idonthemove, type: where }).then(refreshTodoItems2, handleError);
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
</script>
    
