﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Canvas";
}
<style>
    #bucketList div{
        float: left;
        width: 210px;
    }
    
     #bucketList div.mainCover{
        min-height: 180px;
    }
    #bucketList div span{
        text-decoration: underline;
        font-size: large;
    }
    #bucketList div ul li{
        list-style: none;text-indent: -35px;
    }
    #bucketList div ul li div{
        font-size: smaller;
    }
    
        #bucketList div ul li div input{
        width: 105px;
        
    }
</style>
<div id='wrapper'>
            <article>
                <header>
                    <h2>My Canvas</h2>
                    <p>Tested on Chrome and Safaria. Doesn't work on firefox (Desktop)</p>
                    <form id='add-item'>
                        <div style="float: left"><input type='text' id='new-item-text' placeholder='Enter new observation' /></div> <button type='submit'>Add</button>
                    </form>
                </header>

                <ul id='todo-items'></ul>
                <p id='summary'>Loading...</p>
            </article>

    <!--
            <footer>
                <a href='http://www.windowsazure.com/en-us/develop/mobile/'>
                    Learn more about Windows Azure Mobile Services
                </a>
    -->
                <ul id='errorlog'></ul>
    <div id="bucketList" style="clear: 
 both">
        <h2>My Buckets</h2>
    <div class="mainCover" ondrop="drapDrop(event,'physical')" ondragover="allowDrop(event)"><span>Physical</span><ul id='todo-items-physical'></ul></div>
        <div class="mainCover" ondrop="drapDrop(event,'optional')" ondragover="allowDrop(event)"><span>Optional</span><ul id='todo-items-optional'></ul></div>
        <div class="mainCover" ondrop="drapDrop(event,'table')" ondragover="allowDrop(event)"><span>Table</span><ul id='todo-items-table'></ul></div>
        <div class="mainCover" ondrop="drapDrop(event,'chair')" ondragover="allowDrop(event)"><span>Chair</span><ul id='todo-items-chair'></ul></div>
        <div style="width:auto;min-height: 0px
    ;text-decoration: none;background-color:#fff;padding: 4px;font-size: small;border: 1px solid #808080;cursor: pointer" onclick="alert('Not working for now')">Add a Bucket</div>
        </div>
       <!--</footer>-->     
        </div>

        <script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js'></script>
        <script src='http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js'></script>
        <script src='pagev2.js'></script>

<script>
    var client45 = new WindowsAzure.MobileServiceClient('https://object.azure-mobile.net/', 'cvnQzPqZEvwdjPOdpCQYlXoSNbSMMz99'),
        todoItemTable45 = client45.getTable('todoitem');
    
    // Read current data and rebuild UI.
    function refreshTodoItems2(){
        
    }
    var idonthemove;
    function dragStart(ev, id) {
        idonthemove = id;
    }

    function drapDrop(ev, where) {
        todoItemTable45.update({ id: idonthemove, type: where }).then(refreshTodoItems2, handleError);
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
</script>
    
