﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Design Thinking App Prototype";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome to SP DT Prototype.</h1>
        </hgroup>
        <p>
            Enter your project name to access or create your project, depending on it's existance.
        </p>
        <form>
        <input id="ProjectName" type="text" name="projectName" placeholder="Project Name">
            <input id="ButtonSub" type="button" value="Create or GoTo Project" name="submitButton">
        </form>
    </div>
</section>
}
<script>
    $(function () {
        $('#ButtonSub').click(function () {
            var pName = $('#ProjectName').val();
            pName = pName.toUpperCase();
            window.location.replace("Project?name=" + pName);
        });
    });

</script>
<p><a href="~/Canvas">Click here to go to the deprecated Canvas Page (V1, Date: 31/3/2014)</a>.</p>

<ol class="round">

</ol>