﻿@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="//vjs.zencdn.net/4.5/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.5/video.js"></script>
<script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js'></script>
        <script src='http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js'></script>

@section featured {

        
<script>
    $(function () {

        $('#interviewRecordingTitle').append(getParameterByName('recordingName'));
        //&AWSAccessKeyId
        //Expires
         var client222 = new WindowsAzure.MobileServiceClient('https://object.azure-mobile.net/', 'cvnQzPqZEvwdjPOdpCQYlXoSNbSMMz99'),
        todoItemTable22 = client222.getTable('recordingbucket');
        var quer222y = todoItemTable22.where({ id: getParameterByName('recordingURL') });
        quer222y.read().then(function (todoItems) {
             var listItems = $.map(todoItems, function (item) {
        $('#vlcPlayerr').html('<embed id="vlcplayer" type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2"  width="100%"  height="100%" id="vlc" loop="yes" target="' + item.url + '" autoplay="yes"></embed>');           


                });
            }, handleError);
        
        
        //alert('html');
    });
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    function handleError(error) {
            var text = error + (error.request ? ' - ' + error.request.status : '');
            alert(text);
        }
</script>
}

<div id='wrapper'>
            <article>
                <header>
                    <h2 id="interviewRecordingTitle">My Interview Recording and Data for: </h2>
                    <p>Tested on firefox.</p>
                    <form id='add-item'>
                        <div style="float: left"><input type='text' id='new-item-text' placeholder='Enter new input' /></div> <button type='submit'>Add</button>
                    </form>
                </header>
                <p id="summary"></p>
                <ul id='todo-items'></ul>
            </article>
    <div id="vlcPlayerr" style="margin-left: 660px;position: fixed">
    
        </div>
        </div>
       <!--</footer>-->     
        </div>
<script>
    var oldData;
    $(function () {
        var client = new WindowsAzure.MobileServiceClient('https://object.azure-mobile.net/', 'cvnQzPqZEvwdjPOdpCQYlXoSNbSMMz99'),
            todoItemTable = client.getTable('todoitem');

        // Read current data and rebuild UI.
        // If you plan to generate complex UIs like this, consider using a JavaScript templating library.
        function refreshTodoItems() {
            var query = todoItemTable.where({ fromrecording: getParameterByName('recordingName') });
            query.read().then(function (todoItems) {
                if (!(JSON.stringify(oldData) === JSON.stringify(todoItems))) {
                    $('#todo-items').empty();
                    oldData = todoItems;
                    var listItems = $.map(todoItems, function (item) {
                        $('#todo-items').append($('<li>')
                        .append($('<div>').append($('<input class="item-text">').val(item.text))
                        .append($('<button class="item-delete">Delete</button>'))
                        ));

                        return $('<li>')
                        .attr('data-todoitem-id', item.id).attr('draggable', 'true').attr('ondragstart', 'dragStart(event)')

                        .append($('<div>').append($('<input class="item-text">').val(item.text))
                         .append($('<button class="item-delete">Del</button>'))
                        .append($('<button class="item-throw">Drag</button>'))
                        );
                    });
                } else {
                }
                //$('#todo-items').empty().append(listItems).toggle(listItems.length > 0);
                $('#summary').html('You have ' + todoItems.length + ' item(s)');
                setTimeout(function () {
                    refreshTodoItems();
                }, 2000);
            }, handleError);
        }

        function handleError(error) {
            var text = error + (error.request ? ' - ' + error.request.status : '');
            $('#errorlog').append($('<li>').text(text));
        }

        function getTodoItemId(formElement) {
            return $(formElement).closest('li').attr('data-todoitem-id');
        }

        // Handle insert
        $('#add-item').submit(function (evt) {
            var textbox = $('#new-item-text'),
                itemText = textbox.val();
            if (itemText !== '') {
                todoItemTable.insert({ text: itemText, complete: false, project: getParameterByName('name'), fromrecording: getParameterByName('recordingName') }).then(refreshTodoItems, handleError);
            }
            textbox.val('').focus();
            evt.preventDefault();
        });
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        // Handle update
        $(document.body).on('change', '.item-text', function () {
            var newText = $(this).val();
            todoItemTable.update({ id: getTodoItemId(this), text: newText }).then(null, handleError);
        });

        $(document.body).on('change', '.item-complete', function () {
            var isComplete = $(this).prop('checked');
            todoItemTable.update({ id: getTodoItemId(this), complete: isComplete }).then(refreshTodoItems, handleError);
        });

        // Handle delete
        $(document.body).on('click', '.item-delete', function () {
            todoItemTable.del({ id: getTodoItemId(this) }).then(refreshTodoItems, handleError);
        });

        // On initial load, start by fetching the current data
        refreshTodoItems();
    });
</script>
