﻿@{
    Layout = "~/_SiteLayout.cshtml";
}

<script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js'></script>
        <script src='http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js'></script>

@section featured {

        
<script>
    $(function () {

        $('#projectName').text('Project: ' + getParameterByName('name'));
        $('#mainCanvas').click(function () {
            window.location.replace("CanvasV2?name=" + getParameterByName('name'));
        });
        $('#interview').click(function () {
            window.location.replace("InterviewTranscript?name=" + getParameterByName('name'));
        });

        var client = new WindowsAzure.MobileServiceClient('https://object.azure-mobile.net/', 'cvnQzPqZEvwdjPOdpCQYlXoSNbSMMz99'),
        todoItemTable = client.getTable('todoitem');

        function refreshTodoItems() {
            var query = todoItemTable.where({ project: getParameterByName('name') });
            query.read().then(function (todoItems) {
                $('#canShowData').html('You have ' + todoItems.length + ' items in your main canvas.');
            }, handleError);

            var rectodoItemTable = client.getTable('recordingbucket');
            var query2 = rectodoItemTable.where({ project: getParameterByName('name') });
            query2.read().then(function (recitems) {
                var listItems = $.map(recitems, function (item) {
                    $('#recordingData').append($('<li>')
                    .attr('onClick', "onceClickNavTo('" + item.id + "','" + item.interviewName + "')").attr('style', 'cursor:pointer;text-decoration: underline;')
                    .append($('<div>').append($('<p>' + item.interviewName + '</p>'))

                    ));


                    return $('<li>')
                    .attr('data-todoitem-id', item.id).attr('draggable', 'true').attr('ondragstart', 'dragStart(event)')

                    .append($('<div>').append($('<input class="item-text">').val(item.text))
                     .append($('<button class="item-delete">Del</button>'))
                    .append($('<button class="item-throw">Drag</button>'))
                    );
                });
                $('#canShowDataInterview').html('You have ' + recitems.length + ' recording stored.');

            }, handleError);
        }

        function handleError(error) {
            var text = error + (error.request ? ' - ' + error.request.status : '');
            alert(text);
        }
        // On initial load, start by fetching the current data
        refreshTodoItems();

    });

            function onceClickNavTo(url, rName) {
            window.location.replace("InterviewTranscript?name=" + getParameterByName('name') + "&recordingURL=" + url + "&recordingName=" + rName);
        }
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1 id="projectName"></h1>
        </hgroup>
        <h2>My Interview Data</h2>
        <p>Click on any interview to transcript them.</p>
        <p id="canShowDataInterview">I have ...</p>
        <ul id="recordingData">
        
        </ul>
        <h2>My Canvas</h2>
        <p style="cursor: pointer" id="mainCanvas">Go <a>Main Canvas </a>(Can Only have 1 for now)</p>
        <p id="canShowData">I have ...</p>
    </div>
</section>
}

